<ion-header>
  <ion-toolbar>
    <ion-title>
      Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>What is Docuten Hash Verification dApp??</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is a <i>decentralized application</i> to verify on the <b>Alastria Blockchain</b> the status of documents and invoices which have been securely certified by <a href="http://docuten.com">Docuten</a>.</p>
        <p>The idea of this application is to provide an open source solution to allow our customers future verifications of already certified documents and invoices, without the need of relying on <b>Docuten SaaS</b>.</p>
        <p>Basically, this <i>dApp</i> talks directly to the <b>Alastria Telsius</b> blockchain network, where our <b>Docuten Smart Contracts</b> ensure the <i>proof-of-existence</i> and <i>proof-of-life</i> of your documents and invoices are permanently stored and certified.</p>
        <p>You only need the hash of the invoice/document you want to verify and introduce it in the next tab to ask directly to the blockchain!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://docuten.com/en/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>What is Docuten?</ion-label>
      </ion-item><ion-item href="https://docuten.com/en/signature/">
      <ion-icon slot="start" color="medium" name="document"></ion-icon>
      <ion-label>Digital signature solutions</ion-label>
    </ion-item>
      <ion-item href="https://docuten.com/en/invoicing/">
        <ion-icon slot="start" color="medium" name="mail"></ion-icon>
        <ion-label>Electronic invoicing</ion-label>
      </ion-item>
      <ion-item href="https://docuten.com/en/contact-us/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Contact information and support</ion-label>
      </ion-item>

    </ion-list>
</ion-content>
